<GridLayout columns="*" rows="*,9*">
    <StackLayout col="0" row="0" style="background-color: black">
        <GridLayout columns="*,8*,*" rows="*">
            <StackLayout col="0" row="0">
                <Label class="h2 fa" text="&#xf060;" (onTap)="onBack()" style="horizontal-align: left; color: white; padding: 20 0 0 10 "></Label>
            </StackLayout>
            <StackLayout col="1" row="0" style="vertical-align: center">
                <Label class="h2" text="Add Vehicle" style=" color: white; text-align: center"></Label>
            </StackLayout>
            <StackLayout col="2" row="0"></StackLayout>
        </GridLayout>
    </StackLayout>
    <GridLayout column=0 row=1 style="vertical-align: center">
        <GridLayout class="page" cols="*" rows="8*,2*">
            <StackLayout col=0 row=0>
                <GridLayout cols="*" rows="*,*,*,*,*" style="margin-top: 20">
                    <StackLayout col=0 row=0 style="padding-left: 20; padding-right: 20; vertical-align: center">
                        <Label text="Make :" style="text-align: left;color: #606060"></Label>
                        <TextField [(ngModel)]="fleet.make" (onTap)="makes()" editable=false class="car_name" autocorrect="false" id="car_name" hint="Select Make"
                            style=" margin: 5 0 5 0; padding: 5; color: black; border-width: 1; border-color: #dadada; color:#808080"></TextField>
                    </StackLayout>
                    <StackLayout col=0 row=1 style="padding-left: 20; padding-right: 20; vertical-align: center">
                        <Label text="Model :" style="text-align: left;color: #606060"></Label>
                        <TextField [(ngModel)]="fleet.model" (onTap)="models()" editable=false class="model" autocorrect="false" id="model" hint="Enter fleet model"
                            style="margin: 5 0 5 0; padding: 5; color: black; border-width: 1; border-color: #dadada; color:#808080"></TextField>

                    </StackLayout>
                    <StackLayout col=0 row=2 style="padding-left: 20; padding-right: 20; vertical-align: center">
                        <Label text="Year :" style="text-align: left;color: #606060"></Label>
                        <TextField [(ngModel)]="fleet.year" keyboardType="phone" class="year" autocorrect="false" id="year" hint="Enter fleet year" style=" margin: 5 0 5 0; padding: 5; color: black; border-width: 1; border-color: #dadada; color:#808080"></TextField>
                    </StackLayout>
                    <StackLayout col=0 row=3 style="padding-left: 20; padding-right: 20; vertical-align: center">
                        <Label text="Vin :" style="text-align: left;color: #606060"></Label>
                        <TextField [(ngModel)]="fleet.vin" class="vin_no" autocorrect="false" id="vin_no" hint="Enter fleet vin" style=" margin: 5 0 5 0; padding: 5; color: black; border-width: 1; border-color: #dadada; color:#808080"></TextField>
                    </StackLayout>
                    <StackLayout col=0 row=4 style="padding-left: 20; padding-right: 20; vertical-align: center">
                        <Label text="Miles :" style="text-align: left;color: #606060"></Label>
                        <TextField [(ngModel)]="fleet.miles" class="miles" keyboardType="phone" autocorrect="false" id="miles" hint="Enter fleet miles" style=" margin: 5 0 5 0; padding: 5; color: black; border-width: 1; border-color: #dadada; color:#808080"></TextField>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
            <StackLayout col=0 row=1>
                <Button class="btn btn-primary btn-active" id="button" text="Submit" style="padding: 5" (tap)="submit($event)"></Button>
            </StackLayout>
        </GridLayout>
    </GridLayout>
</GridLayout>